{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Acerca de {% endblock title %}

{% block content %}

<div class="container-fluid d-flex flex-column text-white">

    <div class="container">

        <div class="container bg-dark-gradient-2" style="max-width: 99%;">

            <div class="m-5">

                <h1>Acerca de la página web</h1>

                <hr class="style-seven">

                <p>
                    Esta página web ha sido creada con objetivos educacionales y entregada para el M12 (Síntesis) de 2do
                    de SMR. Proyecto totalmente aprendido por mí mismo. No se ha utilizado ninguna herramienta o
                    material lectivo proporcionado por la institución. Esta página está sujeta a cambios.
                </p>

                <p>
                    He utlizado tecnologías como Django, HTML5 y CSS3 para el diseño y desarrollo de esta página web.
                    Esta no es la versión final y está sujeta a cambios. Es posible que en un futuro añada nuevas
                    funcionalidades como por ejemplo la internalización de la página web (nuevos lenguajes) como el
                    inglés y el catalán. La capacidad de cambiar de tema oscuro (predeterminado de la página) a un tema
                    claro.
                </p>

            </div>

            <div class="m-5">

                <h1>Acerca de mí</h1>

                <hr class="style-seven">

                <p>
                    Soy un estudiante informática de 16 años. Me gusta mucho la informática y todo lo relacionado a la
                    programación. Me gusta programar y diseñar páginas web y aplicaciones de
                    escritorio.
                </p>

                <p>
                    Mi mayor ambición es conseguir trabajo en una empresa de programación donde pueda aprender mucho más
                    y pueda vivir haciendo lo que más me gusta que es la programación.
                </p>

                <p>
                    Tengo experiéncia diseñando y programando páginas web por mí mismo sin usar ningún CMS como
                    Wordpress. Aún así no descarto usar en un futuro algún <span class="fw-bolder">Content Management
                        System</span> para agilizar el proceso de creación de
                    páginas web.
                </p>

                <p>
                    Mi lenguaje de programación favorito es Python y, aunque no tenga el mejor rendimiento, es muy
                    versátil y soy muy productivo con él. Aunque mi preferencia es Python, no descarto aprender otros
                    lenguajes de programación como JavaScript, C# y C++.
                </p>

                <p>
                    Tengo un poco de experiéncia laboral ya que hice prácticas en <a
                        href="https://www.pivsistemes.com">Grup Piv de Sistemes</a> durante 2 meses y medio. Allí pude
                    reforzar mis conocimientos de Python y SQL y pude usar nuevas tecnologías.
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock content %}