{% extends 'portfolio/main.html' %}
{% load static %}
{% block title %} Caio Gomes | Blog {% endblock title %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center text-white mt-5">

    <div class="container mt-2 mb-5" style="max-width: 99%;">

        <h1 class="text-center">Página en desarrollo</h1>

        <hr class="style-seven">

        <img class="img-fluid rounded-circle" src="{% static 'images/under-dev.jpg' %}" alt="under-dev.jpg">

    </div>

</div>

{% endblock content %}